@media (min-width: 320px) and (max-width: 480px){
    header,
    nav{
        display: none !important;
    }
    .header-mobile,
    .nav-mobile{
        display: block !important;
    }


    .blog-1{
        padding: 0px !important;
    }
    .blog-1 h1{
        font-size: 25px;
        padding: 10px 0px !important;
    }
    .blog-1 .grid{
        display: inline-block;
    }
    .blog-1 .grid .col-span-2{
        width: 33.3%;
        float: left;
        padding: 5px;
    }
    .blog-1 .grid .col-span-2 h1{
        font-size: 12px;
    }
    .blog-1 .grid .col-span-2 p{
        font-size: 10px;
    }


    .blog-2{
        padding: 0px 5px !important;
        margin-top: 0px !important;
    }
    .blog-2 .grid{
        display: inline-block;
    }
    .blog-2 .grid .col-span-4{
        width: 100%;
        margin: 5px 0px;
    }
    .blog-2 .grid .col-span-4 .title{
        padding: 10px;
    }
    .blog-2 .grid .col-span-4 .title h1{
        font-size: 20px;
    }


    .blog-3{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-3 .grid{
        display: inline-block;
    }
    .blog-3 .grid .col-span-3{
        width: 50%;
        float: left;
    }
    .blog-3 .grid .col-span-3 .box{
        width: 95%;
        margin: 5px auto;
    }
    .blog-3 .grid .col-span-3 .title h1{
        font-size: 15px;
    }
    .blog-3 .grid .col-span-3 .title p{
        font-size: 12px;
    }


    .blog-4{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-4 h1{
        font-size: 25px;
        padding: 0px !important;
    }
    .blog-4 .grid{
        display: inline-block;
    }
    .blog-4 .grid .col-span-3{
        width: 100%;
    }
    .blog-4 .grid .col-span-3 h1{
        font-size: 15px;
    }
    .blog-4 .grid .col-span-3 p{
        font-size: 12px;
    }
    .blog-4 .grid .col-span-3 a{
        font-size: 12px;
    }
    footer .grid{
        display: inline-block;
    }
    footer .grid .col-span-3{
        width: 100%;
    }
}


@media (min-width: 481px) and (max-width: 767px){
    header,
    nav{
        display: none !important;
    }
    .header-mobile,
    .nav-mobile{
        display: block !important;
    }


    .blog-1{
        padding: 0px !important;
    }
    .blog-1 h1{
        font-size: 25px;
        padding: 10px 0px !important;
    }
    .blog-1 .grid{
        display: inline-block;
    }
    .blog-1 .grid .col-span-2{
        width: 20%;
        float: left;
        padding: 5px;
    }
    .blog-1 .grid .col-span-2 h1{
        font-size: 12px;
    }
    .blog-1 .grid .col-span-2 p{
        font-size: 10px;
    }


    .blog-2{
        padding: 0px 5px !important;
        margin-top: 0px !important;
    }
    .blog-2 .grid{
        display: inline-block;
        width: 100%;
    }
    .blog-2 .grid .col-span-4{
        width: 50%;
        margin: 0px;
        float: left;
        padding: 2px;
    }
    .blog-2 .grid .col-span-4 .title{
        padding: 5px;
    }
    .blog-2 .grid .col-span-4 .title h1{
        font-size: 15px;
        padding: 0px;
    }
    .blog-2 .grid .col-span-4 .title p{
        font-size: 13px;
        padding: 0px;
    }


    .blog-3{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-3 .grid{
        display: inline-block;
    }
    .blog-3 .grid .col-span-3{
        width: 33.3%;
        float: left;
    }
    .blog-3 .grid .col-span-3 .box{
        width: 95%;
        margin: 5px auto;
    }
    .blog-3 .grid .col-span-3 .title h1{
        font-size: 15px;
    }
    .blog-3 .grid .col-span-3 .title p{
        font-size: 12px;
    }


    .blog-4{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-4 h1{
        font-size: 25px;
        padding: 0px !important;
    }
    .blog-4 .grid{
        display: inline-block;
    }
    .blog-4 .grid .col-span-3{
        width: 50%;
        float: left;
    }
    .blog-4 .grid .col-span-3 h1{
        font-size: 15px;
    }
    .blog-4 .grid .col-span-3 p{
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .blog-4 .grid .col-span-3 a{
        font-size: 12px;
    }
    footer .grid{
        display: inline-block;
    }
    footer .grid .col-span-3{
        width: 50%;
        float: left;
    }
}



@media (min-width: 768px) and (max-width: 1024px){
    nav .menu ul li a{
        padding: 10px;
    }


    .blog-1{
        padding: 0px !important;
    }
    .blog-1 h1{
        font-size: 25px;
        padding: 10px 0px !important;
    }
    .blog-1 .grid{
        display: inline-block;
    }
    .blog-1 .grid .col-span-2{
        width: 10%;
        float: left;
        padding: 5px;
    }
    .blog-1 .grid .col-span-2 h1{
        font-size: 10px;
    }
    .blog-1 .grid .col-span-2 p{
        font-size: 10px;
    }


    .blog-2{
        padding: 0px 5px !important;
        margin-top: 0px !important;
    }
    .blog-2 .grid{
        display: inline-block;
        width: 100%;
    }
    .blog-2 .grid .col-span-4{
        width: 33.3%;
        margin: 0px;
        float: left;
        padding: 2px;
    }
    .blog-2 .grid .col-span-4 .title{
        padding: 5px;
    }
    .blog-2 .grid .col-span-4 .title h1{
        font-size: 15px;
        padding: 0px;
    }
    .blog-2 .grid .col-span-4 .title p{
        font-size: 13px;
        padding: 0px;
    }


    .blog-3{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-3 .grid{
        display: inline-block;
    }
    .blog-3 .grid .col-span-3{
        width: 20%;
        float: left;
    }
    .blog-3 .grid .col-span-3 .box{
        width: 95%;
        margin: 5px auto;
    }
    .blog-3 .grid .col-span-3 .title h1{
        font-size: 15px;
    }
    .blog-3 .grid .col-span-3 .title p{
        font-size: 12px;
    }


    .blog-4{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-4 h1{
        font-size: 25px;
        padding: 0px !important;
    }
    .blog-4 .grid{
        display: inline-block;
    }
    .blog-4 .grid .col-span-3{
        width: 33.3%;
        float: left;
    }
    .blog-4 .grid .col-span-3 h1{
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .blog-4 .grid .col-span-3 p{
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .blog-4 .grid .col-span-3 a{
        font-size: 12px;
    }
    footer .grid{
        display: inline-block;
    }
    footer .grid .col-span-3{
        width: 33.3%;
        float: left;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    nav .menu ul li a{
        padding: 10px;
    }


    .blog-1{
        padding: 0px !important;
    }
    .blog-1 h1{
        font-size: 25px;
        padding: 10px 0px !important;
    }
    .blog-1 .grid{
        display: inline-block;
    }
    .blog-1 .grid .col-span-2{
        width: 10%;
        float: left;
        padding: 5px;
    }
    .blog-1 .grid .col-span-2 h1{
        font-size: 10px;
    }
    .blog-1 .grid .col-span-2 p{
        font-size: 10px;
    }


    .blog-2{
        padding: 0px 5px !important;
        margin-top: 0px !important;
    }
    .blog-2 .grid{
        display: inline-block;
        width: 100%;
    }
    .blog-2 .grid .col-span-4{
        width: 33.3%;
        margin: 0px;
        float: left;
        padding: 2px;
    }
    .blog-2 .grid .col-span-4 .title{
        padding: 5px;
    }
    .blog-2 .grid .col-span-4 .title h1{
        font-size: 15px;
        padding: 0px;
    }
    .blog-2 .grid .col-span-4 .title p{
        font-size: 13px;
        padding: 0px;
    }


    .blog-3{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-3 .grid{
        display: inline-block;
    }
    .blog-3 .grid .col-span-3{
        width: 20%;
        float: left;
    }
    .blog-3 .grid .col-span-3 .box{
        width: 95%;
        margin: 5px auto;
    }
    .blog-3 .grid .col-span-3 .title h1{
        font-size: 15px;
    }
    .blog-3 .grid .col-span-3 .title p{
        font-size: 12px;
    }


    .blog-4{
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .blog-4 h1{
        font-size: 25px;
        padding: 0px !important;
    }
    .blog-4 .grid{
        display: inline-block;
    }
    .blog-4 .grid .col-span-3{
        width: 33.3%;
        float: left;
    }
    .blog-4 .grid .col-span-3 h1{
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .blog-4 .grid .col-span-3 p{
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .blog-4 .grid .col-span-3 a{
        font-size: 12px;
    }
    footer .grid{
        display: inline-block;
    }
    footer .grid .col-span-3{
        width: 33.3%;
        float: left;
    }
}